html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: 'Rubik', sans-serif;
    color: #00171F;
    min-height: 100vh;
    background: #ffffff;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1 0 auto;
}

a {
    color: inherit;
    text-decoration: none;
}

.navbar {
    background-color: #00171F;
}

.navbar .navbar-brand img {
    height: 40px;
}

.footer {
    background: #00171F;
    color: #ffffff;
    font-size: 0.9em;
    flex-shrink: 0;
}