/* global.css */
body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    background: #ffffff;
    color: #00171F;
}

a {
    text-decoration: none;
    color: inherit;
}

.navbar .navbar-brand img {
    height: 40px;
}

.footer {
    font-size: 0.9em;
    background: #00171F;
    color: #ffffff;
}
