body {
    margin: 0;
    padding: 0;
}

.hero-section {
    height: 80vh;
    background: url('../images/hero.jpg') center / cover no-repeat;
    position: relative;
    color: #FFFFFF; 
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}

.hero-section::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 23, 31, 0.6); 
    z-index: -1;
}

.hero-title {
    /* font-family: 'Rubik', sans-serif;  */
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero-subtitle {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.get-started {
    background: linear-gradient(to right, #00A8E8, #007EA7); 
    color: #FFFFFF; 
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.get-started:hover {
    background: linear-gradient(to right, #007EA7, #00A8E8);
    transform: scale(1.05);
}

.features-section {
    background-color: #003459; 
    padding: 50px 20px;
    text-align: center;
    color: #FFFFFF; 
}

.features-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.feature-card {
    background: #FFFFFF; 
    color: #003459; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}



.feature-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

.feature-icon {
    font-size: 36px;
    margin-bottom: 15px;
    color: #00A8E8; 
}
