
.hero-section {
    height: 80vh;
    background-image: url('../images/hero.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 23, 31, 0.6);
}

.hero-section .container {
    color: white;
    position: relative;
    z-index: 1;
}

.get-started {
    background: linear-gradient(to right, rgba(255, 215, 0, 0.6), rgba(255, 255, 255, 0.6)); /* Semi-transparent gradient */
    color: #000; /* Black text */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px; /* Rounded corners */
    backdrop-filter: blur(10px); /* Frosted glass effect */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Optional shadow for a 3D effect */
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease; /* Smooth transition on hover */
    display: inline-block; /* Ensures proper alignment */
}

.get-started:hover {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.6), rgba(255, 215, 0, 0.6)); /* Reverse gradient on hover */
    transform: scale(1.05); /* Slight zoom on hover */
}

.features-section {
    background-color: #007EA7;
}

.features-section h3 {
    font-family: 'Rubik', sans-serif;
    margin-bottom: 15px;
}

.features-section p {
    font-family: 'Open Sans', sans-serif;
}
