/* register.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.register-container {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
}

.register-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5em;
}

.register-form {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    margin: auto;
    border: 1px solid black;
    border-radius: 10px;
}

.form-group {
    margin-bottom: 15px;
}

.form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-field {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.btn {
    padding: 10px;
    background: #007EA7;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    font-size: 1em;
    cursor: pointer;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.btn:hover {
    background: #005f7a;
}


.link {
    color: #007EA7;
    text-decoration: none;
    font-size: 0.9em;
}

.link:hover {
    text-decoration: underline;
}

.mt-3 {
    margin-top: 15px;
}

.verify-btn {
    width: 300px;
}